.membership-box.MuiBox-root.css-12dv9jb {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-bottom: 10px;
}

.MuiPaper-root.MuiPaper-outlined.MuiPaper-rounded.MuiCard-root.card-member.css-1v5z4dq-MuiPaper-root-MuiCard-root {
  background: #a9d800 !important;
  color: black;
  font-size: 12px;
  padding: 10px;
}

.MuiPaper-root.MuiPaper-outlined.MuiPaper-rounded.MuiCard-root.card-member.css-1okfn8i {
  background: #a9d800 !important;
  color: black;
  font-size: 12px;
  padding: 10px;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #fff !important;
  background: #232323 !important;
  border-radius: 5px;
}

.css-1q2h7u5.Mui-selected {
  /* color: rgb(25, 118, 210); */
  color: #fff !important;
  background: #232323 !important;
  border-radius: 5px !important;
}

button#mui-p-20649-T-2 {
  color: #232323 !important;
}

span.MuiTabs-indicator.css-ttwr4n {
  background-color: #232323 !important;
}

.MuiPaper-root.MuiPaper-outlined.MuiPaper-rounded.MuiCard-root.card-Business.css-1v5z4dq-MuiPaper-root-MuiCard-root {
  background: #ae27ff !important;
  color: white;
  font-size: 12px;
}

.MuiPaper-root.MuiPaper-outlined.MuiPaper-rounded.MuiCard-root.card-Business.css-1okfn8i {
  background: #ae27ff !important;
  color: white;
  font-size: 12px;
}

.card-btn {
  display: flex;
  justify-content: space-around;
}

.month-text {
  margin-bottom: 20px;
}

.trial-btn {
  padding: 0px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.free-btn.css-sghohy-MuiButtonBase-root-MuiButton-root {
  background: black;
  font-size: 13px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.MuiButton-root.MuiButton-contained.MuiButton-containedPrimary.MuiButton-sizeMedium.MuiButton-containedSizeMedium.MuiButton-colorPrimary.free-btn.css-1hw9j7s {
  background: black;
  font-size: 13px;
}

.year-text {
  margin-left: 20px;
}

.main-div {
  background: rgb(241, 241, 241, 1);
  overflow: hidden;
  margin-top: 50px;
}

.member-cardDetail {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cardmember-contain {
  background: rgb(241, 241, 241, 1);
  padding: 10px;
}

.member-text {
  margin-left: 20px;
  color: #232323;
}

.text-cardmember {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.icon-circle {
  margin-right: 10px;
}

.member-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
}

ul.Polaris-Tabs {
  display: flex;
  justify-content: flex-end;
}

h1.mem-text {
  font-size: 35px;
  font-weight: 600;
}

.free-memberships {
  background: rgb(241, 241, 241, 1) !important;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

h2.free-text {
  font-size: 33px;
  font-weight: 600;
}

p.cancle-mem {
  font-size: 10px;
  font-weight: 600;
}

.heading-tabs {
  display: flex;
  justify-content: space-between;
}

.sales {
  margin-top: 20px;
}

.chart {
  margin-top: 10px;
}

.chart-details {
  margin-bottom: 20px;
}

.chart-detail {
  display: flex;
  justify-content: space-around;
  background: rgb(241, 241, 241, 1);
}

h4.chart-text {
  color: #7ea000 !important;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}

h2.chart-head {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 10px;
}

span.MuiCircularProgress-root.MuiCircularProgress-determinate.MuiCircularProgress-colorPrimary.css-1rn30mb-MuiCircularProgress-root {
  width: 160px !important;
  height: 160px !important;
}
span.MuiCircularProgress-root.MuiCircularProgress-determinate.MuiCircularProgress-colorPrimary.css-a6xa17 {
  width: 160px !important;
  height: 160px !important;
}

.circuler-chart {
  margin: 15px;
}

.chart-content {
  margin: 15px;
}

.saving-member {
  margin-top: 20px;
}

.membership-calculator {
  display: grid;
  grid-gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 500px), 500px));
  margin-top: 10px;
  background: rgb(241, 241, 241, 1);
  padding: 10px;
  align-items: center;
}

.css-1086bdv-MuiPaper-root-MuiAccordion-root {
  background-color: rgb(241, 241, 241, 1) !important;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  position: relative;
  -webkit-transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow-anchor: none;
  border-radius: 0;
  border-radius: 5px;
}

.css-1086bdv-MuiPaper-root-MuiAccordion-root {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  position: relative;
  -webkit-transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow-anchor: none;
  border-radius: 0;
  margin-bottom: 10px !important;
}

.css-a6xa17 {
  color: #232323 !important;
}

.css-1aj41gs {
  margin-bottom: 10px !important;
}

/* .membership-calculator {
  width: 33%;
} */

.Cardmember-slider {
  padding-left: 10px;
  padding-right: 10px;
}

.saving-text {
  margin-left: 10px;
}

.meet-member {
  padding: 20px;
  width: 70%;
}

p.buy-text {
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 10px;
}

h5.example {
  font-size: 12px;
  font-weight: 600;
}

.MuiAccordionSummary-content.MuiAccordionSummary-contentGutters.css-o4b71y-MuiAccordionSummary-content {
  font-size: 15px;
}

.MuiAccordionDetails-root.css-15v22id-MuiAccordionDetails-root {
  font-size: 13px;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiAccordion-root.MuiAccordion-rounded.MuiAccordion-gutters.css-1c35hjw-MuiPaper-root-MuiAccordion-root {
  margin-bottom: 10px;
}

.heading-faq {
  text-align: center;
  margin-bottom: 15px;
}

h2.faq-head {
  font-size: 30px;
  font-weight: 600;
}

.slidecontainer {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

p.slide-value {
  margin-left: 20px;
  font-size: 15px;
}

.css-1rn30mb-MuiCircularProgress-root {
  color: #232323 !important;
}

.css-1aquho2-MuiTabs-indicator {
  position: absolute;
  height: 2px;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #ca9832;
}
